


.profilecard{
    padding: 3%;
    margin:  10% auto;
    display: block;
    height: 400px;
    width: 400px;
    background-color: rgb(225, 227, 217);
    text-align: center;
    border-radius: 15%;
}
.profileimg{
    width: 150px;
    height: auto;
    border-radius: 10%;
}
input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  input[type=file]{
    width: 100px;
    margin-left: 36%;
    margin-top: 2%;
  }

  input[type=file]::file-selector-button:hover {
    background-color: #97dc6b;
    border: 2px solid #3048c1;
    cursor: pointer;
  }