
.cover{
    margin: 4%;
}

.delete{
    cursor: pointer;
}

.edit{
    cursor: pointer;
}

.edit :hover{
    cursor: pointer;
    color: rgb(20, 73, 220);
} 
.delete :hover{
    cursor: pointer;
    color: rgb(179, 9, 9);
} 

.btnadd{
    float: right;
   margin-right: 4%;
   margin-top: 1%;
}